<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CoursesView</servlet-name>
        <servlet-class>view.CoursesView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsView</servlet-name>
        <servlet-class>view.StudentsView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuitionsView</servlet-name>
        <servlet-class>view.TuitionsView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrysView</servlet-name>
        <servlet-class>view.RegistrysView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassRepsView</servlet-name>
        <servlet-class>view.ClassRepsView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarView</servlet-name>
        <servlet-class>view.RegistrarView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseView</servlet-name>
        <servlet-class>view.AddCourseView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchView</servlet-name>
        <servlet-class>view.SearchView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentsView</servlet-name>
        <servlet-class>view.SearchStudentsView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoursesView</servlet-name>
        <url-pattern>/Courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsView</servlet-name>
        <url-pattern>/Students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuitionsView</servlet-name>
        <url-pattern>/Tuitions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrysView</servlet-name>
        <url-pattern>/Registrys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassRepsView</servlet-name>
        <url-pattern>/ClassReps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarView</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseView</servlet-name>
        <url-pattern>/AddCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchView</servlet-name>
        <url-pattern>/SearchView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentsView</servlet-name>
        <url-pattern>/SearchStudents</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/registrar</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
